@model WebAppCoreAngular.Models.People
@{ ViewData["Title"] = "Pessoa - Alterando registro"; }
<h2>Alterando registro ...</h2>
<h4>Pessoa</h4>
<hr />
<form asp-action="Edit">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </div>
        <div class="col-md-8" ng-app="app" ng-controller="ctrl">
            <div class="row" ng-repeat="phone in phones" ng-class="phone.status === 'D'?'btn-danger':''">
                <div style="display:none;margin:0;padding:0;">
                    <input type="text" name="PhonesViewModel[{{$index}}].Id" ng-model="phone.id" />
                    <input type="text" name="PhonesViewModel[{{$index}}].Status" ng-model="phone.status" />
                    <input type="text" name="PhonesViewModel[{{$index}}].PeopleId" ng-model="phone.peopleId" />
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="ddd" class="control-label">DDD</label>
                        <input type="text" id="ddd" ng-change="changeValue(phone)" name="PhonesViewModel[{{$index}}].Ddd" ng-model="phone.ddd" class="form-control" placeholder="DDD">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="number" class="control-label">Número do Telefone</label>
                        <input type="text" id="number" ng-change="changeValue(phone)" name="PhonesViewModel[{{$index}}].Number" ng-model="phone.number" class="form-control" placeholder="Número">
                    </div>
                </div>
                <div class="col-md-3" ng-show="showStatus(phone)">
                    <div class="form-group">
                        <label class="control-label" style="color:white">...</label>
                        <button class="btn btn-success btn-block" type="button" ng-click="phone.status='A'">Cancelar</button>
                    </div>
                </div>
                <div class="col-md-3" ng-show="!showStatus(phone)">
                    <div class="form-group">
                        <label class="control-label" style="color:white">...</label>
                        <button class="btn btn-danger btn-block" type="button" ng-click="remove(phone, $index)">Excluir</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-info" type="button" ng-click="add()">Adicionar Telefone</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-action="Index"><< Voltar</a>
</div>

@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script>
        var app = angular.module('app', []);
        app.controller('ctrl', function ($scope) {
            $scope.phones = @Html.Raw(@ViewBag.Phones);
            $scope.add = function () { 
                $scope.phones.push({ 'id': 0, 'ddd': '', 'number': '', 'status': 'N', 'peopleId': '@Model.Id' });
            };                     
            $scope.remove = function (phone, index) {
                if (phone.status === 'N') {
                    $scope.phones.splice(index, 1);
                } else {
                    phone.status = 'D';
                }
            }
            $scope.changeValue = function (phone) {
                if (phone.id === 0) {
                    phone.status = 'N';
                } else {
                    phone.status = 'A';
                }
            }
            $scope.showStatus = function (phone) {                
                return (phone.status === 'D');
            }
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
